* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
    font-family: 'Patrick Hand', cursive;
}

.container {
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 10px;
}

.profil {
    height: 120px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left;
}

.header-bio {
    float: left;
    padding: 10px;
}

.header-bio {
    color: #11999e;
}

.header-contrack {
    float: right;
    padding: 20px;
}

.header-contrack a {
    text-decoration: none;
    color: #11999e;
    font-size: 15px;
    font-weight: bold;
}

.header-contrack a:hover {
    text-decoration: underline;
    color: rgb(65, 117, 5);
}

.clear-div {
    clear: both;
}

hr {
    border: 2px solid black;
    width: 100%;
    margin: 20px auto;
}